@import '../../../colors.scss';

.card-form-editCompany{
    height: 60vh;
    margin-left: 20px;
    margin-top: 4em;
    width: 500px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    
    .form-title-editCompany{
    color: white;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      font-size: 20px;
      font-weight: bold;
      background: $firstblue;
      border-radius: 10px 10px 0 0;
    }
    
    .form-body-editCompany{
      padding: 10px;
      
      .row-editCompany{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        
        .input-editCompany{
          appearance: none;
          width: 100%;
          margin: 0.5em;
          height: 35px;
          padding: 5px 15px;
          border-radius: 5px;
          outline: none;
          border: none;
          background: #e8ebed;
          color: #576366;
          font-size: 14px;
        }
      }
    }
    
.button-editCompany{
    background-color: $firstblue;
    color: white;
    font-size: 15px;
    height: 60px;
    width: 50%;
    left: 50%;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 5%;
    display: flex;
    justify-content: center;
    border: none;
			border-radius: 10px;
			text-align: center;
			line-height: 60px;
			text-transform: uppercase;
			transition-duration: 200ms;
			&:hover {
				box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
				transform: translatey(-5px);
			}
    }
    #return {
        border: solid #a5adb6 1px;
        background-color: transparent;
        width: 80px;
        display: flex;
        svg {
            margin: auto;
            height: 30%;
            fill: $firstblue;
        }
    }
    #save {
        border: none;
        background-color: $firstblue;
        font-size: 15px;
        color: #fff;
        width: calc(100% - 40px - 10px);
    }
}

    .rule-editCompany{
      height: 2px;
      background: #e8ebed;
      margin: 0px 35px;
    }
    
    .form-footer-editCompany{
        align-items: center;
      margin: 0 25px 15px 25px;
      padding: 15px 10px;
      
      a{
        display: inline-block;
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        background: #27ae60;
        margin-right: 10px;
        font-size: 14px;
      }
      
      span{
        margin-left: 8px;
      }
    }
    .button-flex{
        width: 100%;
        display: flex;
        justify-content: center;
        button{
            margin-top: 5em;
            width: 50%!important;
        }
    }