@import '../../../../../colors.scss';

.comment-content{
    display: flex;
    flex-direction: column;
    max-width: 650px;
    width: 100%;
    margin: 24px auto;
    .comment-title{
        width: 100%;
        font-size: 20px;
        line-height: 24px;
        p{
            width: 100%;
            margin: 0;
        }
    }
    .comment-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        .form-post{
            display: flex;
            flex-direction: column;
            width: 100%;
            textarea{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 12px;
                margin: 0;
                padding: 12px;
                font-size: 20px;
                line-height: 24px;
                border: 0;
                height: calc(24px * 6);
                resize: none;
                &:focus {
                    outline: none;
                }
            }
            .button-comment{
                -webkit-appearance: none;
                 -moz-appearance:    none;
                 appearance:         none;
                 padding: 8px 24px;
                 border: 0;
                 border-radius: 12px;
                 background: $firstblue;
                 color: $white;
                 max-width: max-content;
                 margin: 12px 0 12px auto;
                 cursor: pointer;
                 
            }
        }
    }
}

