@import "../../colors.scss";

.container-stats-search {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin: 1em;
}
.stats-company-container,
.search-company-container {
  width: 100%;
}
