@import '../../../../colors.scss';

.ranking-company{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: space-around;
    align-items: flex-start;
    padding: 0px;
    background: #FFFFFF;
    border: 1px solid $white;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 12px 24px;
    box-shadow: 0 19px 27px rgba(0, 0, 0, 0.1);
    .img-ranking-company{
        max-height: 25px;
        max-width: 25px;
    }
    .ranking-company-info{
        width: 100%;
        display: flex;
        align-self: flex-end;
        p{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
    .ranking-company-score{
        display: flex;
        flex-direction: space-around;
    }
}